# Entorno virtual
environment/
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Base de datos local 
db.sqlite3

# Migraciones
miapp/migrations/

# Archivos de configuración del editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.log
.DS_Store
Thumbs.db
